# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
@DayZ_Epoch_Server/addons/dayz_server/scripts/Ultima_Admins/Ultima_Configs.sqf
@DayZ_Epoch_Server/addons/dayz_server/scripts/Ultima_Admins/Ultima_Admins_Init.sqf
@DayZ_Epoch_Server/addons/dayz_server/scripts/Ultima_Admins/Ultima_Admins_Functions_Server.sqf
@DayZ_Epoch_Server/addons/dayz_server/scripts/Ultima_Admins/Ultima_Admins_Functions_Clients_Admins.sqf
@DayZ_Epoch_Server/addons/dayz_server/scripts/Ultima_Admins/Ultima_Admins_Functions_Clients.sqf
@DayZ_Epoch_Server/addons/dayz_server/scripts/Ultima_Admins/TheFirstNoob_AntiHack_Init.sqf
