# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

@DayZ_Epoch_Server/addons/dayz_server/compile/server_onPlayerDisconnect.sqf
@DayZ_Epoch_Server/addons/dayz_server/compile/Server_Procedures_Player_Anti_Relog.sqf
@DayZ_Epoch_Server/addons/dayz_server/init/Scripts/Ultima_Admins/Ultima_Admins_Configs.sqf
@DayZ_Epoch_Server/addons/dayz_server/init/Scripts/Ultima_Admins/Ultima_Admins_Functions_Clients.sqf
@DayZ_Epoch_Server/addons/dayz_server/init/Scripts/Ultima_Admins/Ultima_Admins_Functions_Clients_Admins.sqf
@DayZ_Epoch_Server/addons/dayz_server/init/Scripts/Ultima_Admins/Ultima_Admins_Init.sqf
@DayZ_Epoch_Server/addons/dayz_server/init/Scripts/Ultima_Admins/Ultima_Admins_Language.sqf
@DayZ_Epoch_Server/addons/dayz_server/init/Scripts/Ultima_Admins/Ultima_Admins_Server_Functions.sqf
@DayZ_Epoch_Server/addons/dayz_server/init/Scripts/Ultima_Admins/Ultima_Clients_Additions_Scripts/Ultima_Client_Procedure_Safe_Zones.sqf
@DayZ_Epoch_Server/addons/dayz_server/init/Scripts/Ultima_Admins/Ultima_Clients_Additions_Scripts/Ultima_Clients_Additions_Scripts_Init.sqf
@DayZ_Epoch_Server/addons/dayz_server/init/Scripts/Ultima_Admins/Ultima_Server_Additions_Scripts/Ultima_Server_Additions_Scripts_Init.sqf
@DayZ_Epoch_Server/addons/dayz_server/init/Scripts/Ultima_Admins/Ultima_Server_Additions_Scripts/Ultima_Server_Paint_Safe_Zones.sqf
MPMissions/DayZ_Epoch_24.Napf/HPP/Ultima_Admins_Menu.hpp
MPMissions/DayZ_Epoch_24.Napf/Scripts/Ultima_Safe_Zones.sqf
@DayZ_Epoch_Server/addons/dayz_server.pbo
